@{
    ViewData["Title"] = "About";

}

<div class="text-center">
    <h1 class="display-4">This is the @ViewData["Title"] page</h1>
    <div>
        <ul>
            <li><h1>@ViewData["Name"]</h1></li>
            <li><h2>@ViewData["Surname"]</h2></li>
            <li><h3>@ViewData["Age"]</h3></li>
            <li>@ViewData["Profession"]</li>
        </ul>
    </div>
</div>